/***** header ***********************************************************************/

.header {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  max-width: $width-wrapper;

  // max-width: 1440px;

  padding: 12px 8px;
  margin: 0 auto;

  // background-color: antiquewhite;
  background: $static-white;
}

.header-container {
  // max-width: 1276px;

  display: flex;
  column-gap: 8px;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  max-width: $width-container;
}

.logo {
  position: relative; /////////////////
  z-index: 40; /////////////////
  display: flex;
  column-gap: 8px;
  align-items: center;
  justify-content: space-between;
  width: 141px;
  height: 40px;
  padding: 8px 20px;
  color: $primary; // для цвета иконки SVG так как установил fill="currentColor"

  // cursor: url(../../assets/img/pointinghand.svg), pointer;
  // cursor: pointer;

  // background: $content-background;
  background: $static-white;
  border-radius: 4px;

  @include custom-cursor;

  &__text {
    @include action-small;

    color: $dark;
  }

  &:hover {
    border-radius: 12px;
  }

  @include cansel-color-touch;
}

.menu__list {
  display: flex;
  gap: 8px; //////////
  align-items: center;
  justify-content: space-between;

  &-link {
    display: block; /////////
    padding: 12px 20px;
    color: $dark;
    background: $static-white;
    border-radius: 4px;
    transition: all $time-tr;

    @include cansel-color-touch;
    @include action-small;

    // @media screen and (max-width: 768.9px) {
    @media screen and (max-width: $media-tablet) {
      @include action-large;
    }

    // transition: all 0.6s;

    &--disabled {
      color: $primary;

      // pointer-events: none;
      cursor: default; // бред но по ТЗ надо чтобы меню закрывалось
      background: $primary-10;

      // transition: all 0.6s;
      border-radius: 12px;
      transition: all $time-tr;
    }

    @media (hover: hover) and (pointer: fine) {
      &:hover {
        color: $primary;
        background: $primary-10;

        // transition: all 0.6s;
        border-radius: 12px;
        transition: all $time-tr;
      }
    }

    // для показа взаимодействия
    @media (hover: none) and (pointer: coarse) {
      &:active {
        color: $primary;
        background: $primary-10;
        border-radius: 12px;
        transition: all $time-active;

        @include cansel-color-touch;
      }
    }
  }
}

////////////////////////////////////////////////////////////////////

.menu {
  background: $static-white;

  // @media screen and (max-width: 768.9px) {
  @media screen and (max-width: $media-tablet) {
    position: fixed;
    top: 0;

    // right: -100%;
    right: 0;
    bottom: 0;

    // transition:
    //   transform 0.6s ease,
    //   opacity 0.6s linear;
    // transition: right 0.6s ease, opacity 0.6s linear;
    // ease, linear, ease-in, ease-out
    z-index: 16;
    display: flex;
    flex-shrink: 0;
    flex-direction: column;
    justify-content: center;
    padding-top: 60px; //////////// 50px нравится больше но по ПП так
    overflow: hidden auto;
    opacity: 0;
    transform: translateX(100%);
    transition:
      transform $time-tr ease,
      opacity $time-tr linear;

    // background-color: inherit;
    // height: 100dvh;
    // width: 100dvw;
    // height: 100vh;
    // width: 100vw;

    @supports (height: 100dvh) {
      width: 100dvw;

      // Стили для браузеров, поддерживающих 100dvh
      height: 100dvh;
    }

    @supports not (height: 100dvh) {
      width: 100vw;

      // Стили для браузеров, НЕ поддерживающих 100dvh
      height: 100vh;
    }
  }

  &.open {
    opacity: 1;

    // right: 0;
    transform: translateX(0%);

    // transition: right 0.6s ease, opacity 0.6s ease-in-out;
    transition:
      transform $time-tr ease,
      opacity $time-tr ease-in-out;

    // transition:
    //   transform 0.6s ease,
    //   opacity 0.6s ease-in-out;
    // ease, linear, ease-in, ease-out
  }
}

.menu__list {
  @media screen and (max-width: $media-tablet) {
    flex-shrink: 0;

    // @media screen and (max-width: 768.9px) {
    flex-direction: column;
  }
}

////////////////////////////////////////////////////////////////////

.burger-button {
  position: relative;
  z-index: 30;
  display: none;

  // transition: all 0.4s;
  flex-shrink: 0;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;

  // border-radius: 100px;
  border: 1px solid $static-white;
  transition: all $time-tr;

  @media screen and (max-width: $media-tablet) {
    // @media screen and (max-width: 768.9px) {
    display: flex;
  }

  @media (hover: hover) {
    &:hover {
      // background-color: #665F55;
      transition: $time-tr all;

      // transition: 0.4s all;

      @include custom-cursor;

      // cursor: pointer;
    }

    &:hover .burger-button__cross {
      // background-color: #E1D4C9;
      transition: $time-tr all;

      // transition: 0.6s all;
    }

    &:active {
      // transform: scale(0.9);
      // transition: all 0.4s;
      transition: transform $time-tr ease;

      // transition: transform 0.4s ease;

      & .burger-button__cross--01 {
        transform: translateY(0) rotate(-45deg);

        // transition: 0.4s all;
        transition: transform $time-tr ease;

        // transition: transform 0.4s ease;
      }

      & .burger-button__cross--02 {
        transform: translateY(0) rotate(45deg);

        // transition: 0.4s all;
        transition: transform $time-tr ease;

        // transition: transform 0.4s ease;
      }
    }
  }
}

////////////////////////  рисую кнопку /////////////////////////////////

.burger-button__cross {
  width: 20px;
  height: 1px;
  background-color: $dark;
  border-radius: 1.5px;

  // transition: 0.4s all;
  transition: transform $time-tr ease;

  // transition: transform 0.4s ease;
}

.burger-button__cross--01 {
  position: absolute;
  transform: translateY(-4px);

  // transition: 0.4s all;
  transition: transform $time-tr ease;

  // transition: transform 0.4s ease;
}

.burger-button__cross--02 {
  position: absolute;
  transform: translateY(4px);

  // transition: 0.4s all;
  transition: transform $time-tr ease;

  // transition: transform 0.4s ease;
}

//////////////   заставляю кнопку работать при клике   //////////////////////////////

.burger-button.rotade {
  & .burger-button__cross--01 {
    transform: translateY(0) rotate(-45deg);

    // transition: 0.4s all;
    transition: transform $time-tr ease;

    // transition: transform 0.4s ease;
  }

  & .burger-button__cross--02 {
    transform: translateY(0) rotate(45deg);

    // transition: 0.4s all;
    transition: transform $time-tr ease;

    // transition: transform 0.4s ease;
  }
}
