$primary-color: #3490dc;
$secondary-color: #ffed4a;
$danger-color: #e3342f;

/***************  */
$width-wrapper: 1440px;
$width-container: 1276px;
$fon: rgb(52, 52, 52, 80%);
$static-white: rgb(255, 255, 255);
$primary: rgb(255, 70, 70);
$primary-10: rgb(255, 70, 70, 10%);
$dark: rgb(24, 28, 41);
$time-tr: 0.4s;
$time-active: 0.08s;
$media-tablet: 768.9px;
